@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 960px;
// ※キュンパス幅ではなくインナーの幅を指す

$max-width-sp:530px;
$max-width-pc:1300px;

// 余白
$padding-pc: 50px;
$padding-sp: 15px;

////////////////////
// フォント設定
////////////////////

$Sans-family:  "Noto Sans JP", sans-serif;
$Oswald-family: "Oswald", sans-serif;
$Serif-family:"Noto Serif JP", serif;
.mincho-normal {
  font-family: "ヒラギノ明朝 ProN", "HiraMinProN", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

// ※検証ツールでしっかり反映されているか確認する

// フォントウェイト
$regular: 300;
$normal: 400;
$medium:500;
$bold: 700;
$high-bold:900;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #111;
$white: #fff;
$blue:#000462;
$light-blue:#E7F1F7;

body {
  font-family: $Sans-family;
  font-weight: $normal;
}
