@use "global" as *;

.company-second__inner {
    max-width: 560px; /* 任意の幅に置き換えてください */
    margin: auto;
    @include mq(md){
        max-width: $max-width-pc;
    }
}

.company-second__flex{
    @include mq(md){
        display: flex;
        justify-content: space-between;
    }
}

.company-second__container{
    margin-top: rem(26);
    padding: 0 rem(15) rem(39.2) ;
    @include mq(md){
        margin-top: rem(0);
        width: 70%;
        padding: 0 rem(50) rem(104) 0 ;
    }
}

.company-second__content{
    font-size: rem(14);
    line-height: calc(24/14);
    display: flex;
    @include mq(md){
        font-size: rem(16);
        line-height: calc(24/16);
    }
}

.company-second__content + .company-second__content{
    margin-top: rem(15);
}

.company-second__title{
    width: 23%;
    border-bottom: solid 1px $blue ;
    padding-left: rem(8);
    padding-bottom: rem(15);
    font-size: rem(14);
    line-height: calc(32/14);
    letter-spacing: 0.02em;
    @include mq(md){
        width: 12%;
    }
}

.company-second__text{
    width: 77%;
    border-bottom: solid 1px #CBCBCB ;
    padding-left: rem(20);
    padding-bottom: rem(15);
    font-size: rem(14);
    line-height: calc(32/14);
    @include mq(md){
        width: 88%;
    }
}