@use "global" as *;


.company__inner{
    max-width: 560px; /* 任意の幅に置き換えてください */
    margin: auto;
    @include mq(md){
        max-width: $max-width-pc;
    }
}


.sub-heading__jp{
    font-family: $Sans-family;
    font-size: rem(20);
    font-weight: $normal;
    line-height: calc(27/20);
    letter-spacing: 0.04em;
    @include mq(md){
        font-size: rem(32);
        line-height: calc(43/32);
    }
}

.sub-heading__en{
    color: $blue;
    font-family: $Oswald-family;
    font-size: rem(12);
    font-weight: $bold;
    line-height: 1;
    text-transform: uppercase;
    @include mq(md){
        margin-top: rem(9);
        font-size: rem(18);
    }
}

.sub-heading__en{
    display: inline-block;
    position: relative;
}

.sub-heading__en::before {
    content: "";/*線が表示される*/
    width: rem(15.5);/*線の長さを指定*/
    height: rem(1);/*線の太さを指定*/
    /*「position」「top」「left」で、タイトルを基準に横線の位置を設定します。*/
    background-color: $black;
    position: absolute;
    top: 50%;
    left: rem(-22.5);/*0指定すると、文字の上に線が来る*/
    @include mq(md){
        width: rem(34);
        left: rem(-50);
    }
}

.sub-heading__en--company::before{
    content: "";/*線が表示される*/
    width: rem(15.5);/*線の長さを指定*/
    height: rem(1);/*線の太さを指定*/
    /*「position」「top」「left」で、タイトルを基準に横線の位置を設定します。*/
    background-color: $black;
    position: absolute;
    top: 50%;
    left: rem(-22.5);/*0指定すると、文字の上に線が来る*/
    @include mq(md){
        width: rem(50);
        left: rem(-68);
    }
}