@use "global" as *;

.company-second__inner {
    max-width: 560px; /* 任意の幅に置き換えてください */
    margin: auto;
    @include mq(md){
        max-width: $max-width-pc;
    }
}

.company-second__flex{
    @include mq(md){
        display: flex;
        justify-content: space-between;
    }
}

.company-second__heading{
    margin-left: rem(21.5);
    @include mq(md){
        margin-left: rem(68); // レスポンシブでも左からの位置を固定
    }
}

.company-second__jp{
    font-family: $Sans-family;
    font-size: rem(18);
    font-weight: $normal;
    line-height: calc(27/20);
    letter-spacing: 0.18em;
    @include mq(md){
        font-size: rem(32);
        line-height: calc(43/32);
        letter-spacing: 0.04em;
    }
}

.company-second__en{
    color: $blue;
    font-family: $Oswald-family;
    font-size: rem(12);
    font-weight: $bold;
    line-height: 1;
    text-transform: uppercase;
    @include mq(md){
        margin-top: rem(9);
        font-size: rem(18);
    }
}

.company-second__en{
    display: inline-block;
    position: relative;
}

.company-second__en::before {
    content: "";/*線が表示される*/
    width: rem(15.5);/*線の長さを指定*/
    height: rem(1);/*線の太さを指定*/
    /*「position」「top」「left」で、タイトルを基準に横線の位置を設定します。*/
    background-color: $black;
    position: absolute;
    top: 50%;
    left: rem(-22.5);/*0指定すると、文字の上に線が来る*/
    @include mq(md){
        width: rem(50);
        left: rem(-68);
        top: 42%;
    }
}


.company-second__container{
    margin-top: rem(17.6);
    padding: 0 rem(15) rem(25.6) ;
    @include mq(md){
        margin-top: rem(0);
        width: 73.8%;
        padding: 0 rem(50) rem(91.2) 0 ;
    }
}

.company-second__content{
    font-size: rem(14);
    line-height: calc(24/14);
    display: flex;
    @include mq(md){
        font-size: rem(16);
        line-height: calc(24/16);
    }
}

.company-second__content + .company-second__content{
    margin-top: rem(9.6);
}

.company-second__content:nth-child(n+3) {
    @include mq(md){
        margin-top: rem(12);
    }
}

.company-second__title{
    width: 23%;
    border-bottom: solid 1px $blue ;
    padding-left: rem(8);
    padding-bottom: rem(8);
    font-size: rem(14);
    line-height: calc(32/14);
    letter-spacing: 0.02em;
    @include mq(md){
        width: 10.5%;
        padding-left: rem(12.8);
        padding-bottom: rem(9.6);
        font-size: rem(16);
    }
}

.company-second__text{
    width: 77%;
    border-bottom: solid 1px #CBCBCB ;
    padding-left: rem(6.4);
    padding-bottom: rem(11.2);
    font-size: rem(14);
    line-height: 1.7;
    padding-top: rem(3.2);
    @include mq(md){
        width: 88%;
        line-height: 2.3;
        padding-top: rem(0);
        padding-left: rem(24);
        padding-bottom: rem(11.2);
    }
}

.company-second__text--letter{
    @include mq(md){
        letter-spacing: 0.13em;
    }
}

.company-second__address{
    @include mq(md){
        display: flex;
        gap: 0 rem(20);
    }
}

.company-second__letter{
    @include mq(md){
        letter-spacing: 0.09em;
    }
}