@use "global" as *;





.features{
    background-color: $light-blue;
    padding: rem(26) 0 rem(48) ;
    @include mq(md){
        padding: rem(60.8) 0 rem(80);
    }
}

.features{
    background-image: url(../images/common/features-bg-sp.png);
    background-position:bottom center;
    background-repeat: no-repeat;
    background-size: 100% rem(1062) ;
    @include mq(md){
        background-image: url(../images/common/features-bg.png);
        background-position:bottom center;
        background-repeat: no-repeat;
        background-size: rem(1300) rem(850) ;

    }
}

.features__inner{
    padding: 0 rem(15);
    max-width: $max-width-sp;
    margin: auto;
    @include mq(md){
        max-width: rem(1200);
        padding: 0 rem(50);
    }
}

.features__flex{
    @include mq(md){
        display: flex;
    }
}

.features__content{
    @include mq(md){
        width: 50%;
    }
}

.features__subtitle{
    font-family: $Oswald-family;
    font-size: rem(14);
    font-weight: $bold;
    line-height: calc(27/14);
    margin-left: rem(7);
    @include mq(md){
        font-size: rem(20);
        margin-left: rem(0);
    }
}

.features__subtitle{
    display: inline-block;
    position: relative;
}

.features__subtitle::before {
    content: "";/*線が表示される*/
    width: rem(28.8);/*線の長さを指定*/
    height: rem(1);/*線の太さを指定*/
    /*「position」「top」「left」で、タイトルを基準に横線の位置を設定します。*/
    background-color: $black;
    position: absolute;
    top: 45%;
    left: rem(-22.5);/*0指定すると、文字の上に線が来る*/
    @include mq(md){
        width: rem(100);
        left: rem(-110);
        top: 47%;
    }
}


.features__sentence{
    margin-top: rem(9.6);
    font-size: rem(32);
    font-weight: 400;
    letter-spacing: 0.13em;
    line-height: 1.5;
    @include mq(md){
        margin-top: rem(16);
        font-size: rem(48);
    }
}

.features__title{
    display: inline-block;
    vertical-align: top; /* 上端に配置 */
    background-color: $white;
    color: $blue;
    padding: rem(5) rem(27.2) rem(9.6) rem(18);
    letter-spacing: 0.09em;
    @include mq(md){
        padding: rem(4.8) rem(33.6) rem(3.2) rem(18);
    }
}

.features__title--letter{
    letter-spacing: 0em;
    padding: rem(5) rem(33.6) rem(9.6) rem(18);
    @include mq(md){
        padding: rem(4.8) rem(48) rem(3.2) rem(18);
    }
}

.features__title-margin{
    margin: rem(9.6) 0;
}

.features__text{
    margin-top: rem(9.6);
    font-size: rem(14);
    line-height: calc(32/14);
    letter-spacing: -0.137em;
    @include mq(md){
        margin-top: rem(18.4);
        font-size: rem(16);
        letter-spacing: -0.094em;
        line-height: calc(32/16);
    }
}


.features__img{
    margin-top: rem(16);
    margin-right: calc(50% - 50vw);
    @include mq(md){
        margin-top: rem(-92.8);
        margin-left: rem(32);
   }
}

.features__img img {
    aspect-ratio: 377/288;
    width: 100%;
    height: auto;
    object-fit: cover;
    @include mq(md){
        aspect-ratio: 618/474;
        width: 100%;
        height: rem(474);
        object-fit: cover;
    }
}

.features__thought{
    margin-top: rem(68);
    @include mq(md){
        margin-top: rem(9);
    }
}

.features__slider{
    margin-top: rem(18);
    @include mq(md){
        margin-top: rem(64);
    }
}