@use "global" as *;

.foot{
    background-color: $blue;
    color: $white;
}

.foot__inner{
    padding: rem(44) rem(15) rem(35);
    max-width: $max-width;
    margin: auto;
    @include mq(md){
        max-width: rem(1300);
        padding: rem(44) rem(50) rem(35);
    }
}

.foot__item{
    @include mq(md){
        display: flex;
        justify-content: center;
        gap:0 rem(42);
    }
}

.foot__list{
    @include mq(md){
        width: rem(530);
    }
}

.foot__list + .foot__list{
    margin-top: rem(17);
    @include mq(md){
        margin-top: rem(0);
    }
}

.foot__link{
    border: solid 1px $white ;
    border-radius: rem(9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(37.5) rem(45) rem(43) rem(28);
}

.foot__text-en{
    font-family: $Oswald-family;
    font-size: rem(32);
    font-weight: $bold;
    line-height: 1.5;
    text-transform: uppercase;
    @include mq(md){
        font-size: rem(40);
        font-weight: $bold;
    }
}

.foot__text-jp{
    font-size: rem(16);
    line-height: calc(21/16);
    letter-spacing: -0.1em;
    @include mq(md){
        font-size: rem(20);
        line-height: calc(27/20);
    }
}

.foot__img img{
    width: rem(66);
    height: rem(66);
}