@use "global" as *;

.privacy-policy__inner{
    max-width: $max-width-sp;
}

.privacy-policy__heading{
    margin-top: rem(68);
    @include mq(md){
        margin-top: rem(62);
    }
}

.privacy-policy__content{
    margin-top: rem(20);
    padding-bottom: rem(72);
    @include mq(md){
        margin-top: rem(65);
        padding-bottom: rem(90);
    }
}

.privacy-policy__wrapper + .privacy-policy__wrapper{
    margin-top: rem(20.5);
}

.privacy-policy__title{
    font-size: rem(16);
    line-height: calc(21/16);
    letter-spacing: 0.04em;
    @include mq(md){
        font-size: rem(18);
        line-height: calc(24/18);
    }
}

.privacy-policy__text{
    margin-top: rem(10);
    font-size: rem(14);
    line-height: calc(24/14);
    letter-spacing: 0.04em;
}