@use "global" as *;

.recruit__container{
    background-color: $light-blue;
    padding: rem(33) 0 rem(40);
    text-align: center;
    @include mq(md){
        padding: rem(54) 0 rem(60);
    }
}

.recruit__inner{
    max-width: $max-width-sp;
    margin: auto;
}

.recruit__wrapper{
    background-color: $white;
    border-radius: rem(15)  0 0;
    padding: rem(42) 0;
    @include mq(md){
        padding: rem(56) 0;
    }
}

.recruit__title{
    color: $blue;
    font-size: rem(20);
    line-height: calc(24/20);
    letter-spacing: -0.07em;
    margin-left: rem(-32);
    @include mq(md){
        font-size: rem(24);
        letter-spacing: -0.08em;
        line-height: 1;
    }
}

.recruit__subtitle{
    margin-top: rem(17);
    color: $black;
    font-size: rem(14);
    line-height: calc(27/14);
    letter-spacing: -0.1em;
    @include mq(md){
        font-size: rem(16);
        line-height: calc(27/14);
        letter-spacing: -0.1em;
        margin-left: rem(16);
    }
}