@use "global" as *;

.service-first__container{
    background-image: url(../images/common/service-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: rem(73) rem(50) rem(59);
}

.service-first__flex{
    @include mq(md){
        display: flex;
        justify-content: space-between;
    }
}

.service-first__sentence{
    width: 62.4%;
}

.service-first__lineup{
    padding-bottom: rem(7.5);
    font-size: rem(24);
    line-height: calc(32/24);
    letter-spacing: 0.04em;
    border-bottom: solid 1px $black ;    
}

.service-first__title{
    margin-top: rem(17.5);
    font-size: rem(40);
    line-height: calc(53/40);
    letter-spacing: 0.04em;
}

.service-first__text{
    margin-top: rem(24);
    font-size: rem(16);
    line-height: calc(32/16);
    letter-spacing: 0.02em;
}

.service-first__number{
    display: block;
    color: transparent;
    -webkit-text-stroke: 1px $white;
    font-family: $Oswald-family;
    font-weight: $bold;
    font-size: rem(173);
    line-height: 1;
    width: 20%;  
    text-align: right;
    margin-top: rem(-20);
}



/*---sp---*/
.service-first__container-sp{
    background-image: url(../images/common/service-bg-sp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: rem(0) rem(16) rem(56) rem(22);
    color: $white;
}

.service-first__sentence-sp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px $white ;
}

.service-first__lineup-sp{
    margin-top: rem(52);
    font-size: rem(16);
    line-height: calc(21/16);
    letter-spacing: -0.18em;
}

.service-first__number-sp{
    padding-right: rem(11.2);
    font-family: $Oswald-family;
    font-size: rem(69);
    font-weight: $bold;
    display: block;
    color: transparent;
    -webkit-text-stroke: 1px $white;
}

.service-first__title-sp{
    margin-top: rem(12.8);
    font-size: rem(20);
    font-weight: $normal;
    line-height: calc(28/20);
    letter-spacing: -0.16em;
}

.service-first__text-sp{
    margin-top: rem(10);
    font-size: rem(14);
    line-height: calc(22/14);
    letter-spacing: -0.14em;
}


.circle{
    width: rem(8);
    height: rem(8);
    background-color: $white;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px; /* 適宜調整 */
}

.circle-text{
    width: rem(6);
    height: rem(6);
    background-color: $white;
    border-radius: 50%;
    display: inline-block;
    margin: rem(0) rem(2) 0 rem(4);
}






/*---画像---*/
.service-first__wrapper{
    margin-top: rem(22.4);
    text-align: center;
    @include mq(md){
        background-color: $white;
        padding: rem(40) rem(34) rem(47) rem(50);
        margin-top: rem(-30);
        margin-right: rem(50);
        box-shadow: 0 0 rem(10) rem(2) rgba(0, 0, 0, 0.25);
    }
}

.service-first__list {
    display: flex;
    justify-content: space-between; /* 要素を均等に配置 */
    flex-wrap: wrap;
}

.service-first__item {
    @include mq(md){
        flex-basis: 15.7%; /* 初期の幅を設定 */
    }
}

@media (max-width: 1100px) {
    .service-first__item {
        flex-basis: 30%; /* 2列に折り返すために幅を変更 */
    }
}

@media (max-width: 850px) {
    .service-first__item {
        flex-basis: 48.1%; /* 2列に折り返すために幅を変更 */
    }
}

.service-first__item{
    margin-top: rem(14);
}

.service-first__item:nth-child(n+3) {
    margin-top: rem(32);
    @include mq(md){
        margin-top: rem(0);
    }
}

.service-first__img img{
    aspect-ratio:173/101 ;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mq(md){
        aspect-ratio:167/105 ; 
    }
}

.service-first__name{
    font-size: rem(12);
    line-height: 1.4;
    letter-spacing: -0.06em;
    margin-top: rem(8);
}