@use "global" as *;

.service-third__container{
    background-image: url(../images/common/service-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: rem(73) rem(50) rem(59);
}

.service-third__flex{
    @include mq(md){
        display: flex;
        justify-content: space-between;
    }
}

.service-third__sentence{
    width: 62.4%;
}

.service-third__lineup{
    padding-bottom: rem(7.5);
    font-size: rem(24);
    line-height: calc(32/24);
    letter-spacing: 0.04em;
    border-bottom: solid 1px $black ;    
}

.service-third__title{
    margin-top: rem(17.5);
    font-size: rem(40);
    line-height: calc(53/40);
    letter-spacing: 0.04em;
}

.service-third__text{
    margin-top: rem(24);
    font-size: rem(16);
    line-height: calc(32/16);
    letter-spacing: 0.02em;
}

.service-third__number{
    display: block;
    color: transparent;
    -webkit-text-stroke: 1px $white;
    font-family: $Oswald-family;
    font-weight: $bold;
    font-size: rem(173);
    line-height: 1;
    width: 20%;  
    text-align: right;
    margin-top: rem(-20);
}








/*---sp---*/
.service-third__container-sp{
    background-image: url(../images/common/service-bg-sp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: rem(0) rem(16) rem(35) rem(22);
    color: $white;
}

.service-third__sentence-sp{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: solid 1px $white ;
    padding-bottom: rem(13);
}

.service-third__lineup-sp{
    font-size: rem(16);
    line-height: calc(21/16);
    letter-spacing: 0.04em;
}

.service-third__number-sp{
    font-family: $Oswald-family;
    font-size: rem(69);
    font-weight: $bold;
    display: block;
    color: transparent;
    -webkit-text-stroke: 1px $white;

}

.service-third__title-sp{
    margin-top: rem(16);
    font-size: rem(20);
    line-height: calc(28/20);
    letter-spacing: 0.06em;
}

.service-third__text-sp{
    margin-top: rem(10);
    font-size: rem(14);
    line-height: calc(22/14);
    letter-spacing: 0.02em;
}










/*---画像---*/
.service-third__wrapper{
    margin-top: rem(20);
    text-align: center;
    @include mq(md){
        background-color: $white;
        padding: rem(40) rem(34) rem(47) rem(50);
        margin-top: rem(-30);
        margin-right: rem(50);
        box-shadow: 0 0 rem(10) rem(2) rgba(0, 0, 0, 0.25);
    }
}

.service-third__meta{
    text-align: left;
}

.service-third__list {
    display: flex;
    justify-content: space-between; /* 要素を均等に配置 */
    flex-wrap: wrap;
}

.service-third__item {
    @include mq(md){
        flex-basis: 15.7%; /* 初期の幅を設定 */
    }
}

@media (max-width: 1100px) {
    .service-third__item {
        flex-basis: 30%; /* 2列に折り返すために幅を変更 */
    }
}

@media (max-width: 850px) {
    .service-third__item {
        flex-basis: 48.1%; /* 2列に折り返すために幅を変更 */
    }
}

.service-third__item{
    margin-top: rem(14);
}

.service-third__name{
    font-size: rem(12);
    line-height: calc(24/12);
    letter-spacing: 0.04em;
}