@use "global" as *;

.service-third__container{
    background-image: url(../images/common/service-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: rem(73) rem(50) rem(59);
}

.service-third__flex{
    @include mq(md){
        display: flex;
        justify-content: space-between;
    }
}

.service-third__sentence{
    width: 62.4%;
}

.service-third__lineup{
    padding-bottom: rem(7.5);
    font-size: rem(24);
    line-height: calc(32/24);
    letter-spacing: 0.04em;
    border-bottom: solid 1px $black ;    
}

.service-third__title{
    margin-top: rem(17.5);
    font-size: rem(40);
    line-height: calc(53/40);
    letter-spacing: 0.04em;
}

.service-third__text{
    margin-top: rem(24);
    font-size: rem(16);
    line-height: calc(32/16);
    letter-spacing: 0.02em;
}

.service-third__number{
    display: block;
    color: transparent;
    -webkit-text-stroke: 1px $white;
    font-family: $Oswald-family;
    font-weight: $bold;
    font-size: rem(173);
    line-height: 1;
    width: 20%;  
    text-align: right;
    margin-top: rem(-20);
}








/*---sp---*/
.service-third__container-sp{
    background-image: url(../images/common/service-bg-sp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: rem(0) rem(16) rem(35) rem(22);
    color: $white;
}

.service-third__sentence-sp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px $white ;
    padding-bottom: rem(13);
}

.service-third__lineup-sp{
    font-size: rem(16);
    line-height: calc(21/16);
    letter-spacing: 0.04em;
}

.service-third__number-sp{
    font-family: $Oswald-family;
    font-size: rem(69);
    font-weight: $bold;
    display: block;
    color: transparent;
    -webkit-text-stroke: 1px $white;

}

.service-third__title-sp{
    margin-top: rem(16);
    font-size: rem(20);
    line-height: calc(28/20);
    letter-spacing: 0.06em;
}

.service-third__text-sp{
    margin-top: rem(10);
    font-size: rem(14);
    line-height: calc(22/14);
    letter-spacing: 0.02em;
}










/*---画像---*/
.service-third__wrapper{
    margin-top: rem(20);
    @include mq(md){
        background-color: $white;
        padding: rem(40) rem(34) rem(47) rem(50);
        margin-top: rem(-30);
        margin-right: rem(50);
        box-shadow: 0 0 rem(10) rem(2) rgba(0, 0, 0, 0.25);
    }
}

.service-third__meta{
    margin-top: rem(40);
    font-size: rem(18);
    line-height: calc(32/18);
    letter-spacing: 0.02em;
    text-align: left;
    @include mq(md){
        margin-top: rem(56);
        font-size: rem(20);
        line-height: calc(32/20);
    }
}

.service-third__list {
    @include mq(md){
        display: flex;
    }
}

.service-third__item + .service-third__item{
    margin-top: rem(14);
    @include mq(md){
        margin-left: rem(32);
    }
}

.service-third__item{
    margin-top: rem(14);
    @include mq(md){
        max-width: calc(22.75% - 2rem * 3 / 4 );
        width: 100%;
    }
}

.service-third__box {
    display: flex;
    flex-direction: column;
    align-items: center; /* 横方向の中央揃え */
    text-align: left; /* テキストを中央揃え */
}

.service-third__img img{
    aspect-ratio:360/221 ;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mq(md){
        aspect-ratio:218/134 ; 
    }
}

.service-third__name{
    
    margin-top: rem(10);
    font-size: rem(12);
    line-height: calc(24/12);
    letter-spacing: 0.04em;
}

.triangle {
    display: flex;
    justify-content: center;
    @include mq(md){
        margin-top: rem(-60);
        flex-direction: column;
    }
}

.triangle img{
    width: rem(20);
    height: rem(15);
}
