@use "global" as *;

.service__inner{
    max-width: 560px; /* 任意の幅に置き換えてください */
    margin: auto;
    @include mq(md){
        max-width: $max-width-pc;
        padding: 0 rem(50);
    }
}

.service__content{
    margin-top: rem(69);
}
