@use "global" as *;

.thought {
    text-align: center; /* thought__imgを中央寄せ */
}

.thought__img {
    display: inline-block; /* ブロック要素をインラインブロック要素に変更 */
    @include mq(md){
        margin-top: rem(-43.2);
    }
}

.thought__img img{
    width: rem(304);
    height: rem(675);
    object-fit: cover;
    @include mq(md){
        width: rem(1008);
        height: auto;
        object-fit: cover;
    }
}



.thought__content{
    text-align: center;
    color: $white;
}


.thought__title{
    display: inline-block;
    margin-top: rem(19.2);
    border: solid 1px $white ;
    width: rem(360);
    padding: rem(6.4) 0 rem(12.8);
    font-size: rem(40);
    font-weight: $medium;
    line-height: calc(60/40);
    letter-spacing: -0.14em;
    @include mq(md){
        width: rem(491);
        padding: rem(6.4) 0 rem(17.6);
        font-size: rem(58);
        line-height: 1;
    }
}

.thought__subtitle{
    margin-top: rem(11);
    font-size: rem(32);
    line-height: calc(50/32);
    letter-spacing: -0.012em;
    @include mq(md){
        margin-top: rem(8);
        font-size: rem(42);
        line-height: calc(60/42);
        letter-spacing: -0.09em;
    }
}

.thought__text{
    text-align: left;
    margin-top: rem(24);
    font-size: rem(14);
    line-height: calc(32/14);
    letter-spacing: -0.119em;
    @include mq(md){
        text-align: center;
        margin-top: rem(28);        
        font-size: rem(16);
        line-height: calc(32/16);
    }
}
